<h1>New Reviews</h1>

<main class="container">
  <div class="row">
    <div class="col-12">
      <div class="row">

        <% game.forEach((game) => { %>
          <ul class="col-lg-4">
          <li class="col-12">
          <a href="/games/<%= game.id %>"><h3><%= game.name %></h3>
          <img src= "<%= game.image %>" class="img-fluid img-thumbnail" alt="<%= game.name %>"></a>
          <p><%= game.rating %></p>
          </li>
          </ul>
          <% }); %>

      </div>
    </div>
  </div>
</main>
