<h2 class="text-center"><%= game.name %></h2>
<p class="text-right"><%= game.review%></p>
<h3 class="text-right"><%= game.rating%></h3>
<img src="<%= game.image %>" alt="Box Art">

<% if(locals.isLoggedIn && game.belongsTo(user)) { %>


  <a href="/games/<%= game.id %>/edit" class="btn btn-info btn-lg btn-secondary">Edit</a>

  <form class="form-group" action="/games/<%= game.id %>" method="post">
  <input class="form-control" type="hidden" name="_method" value="delete">
  <button class="btn btn-info btn-lg btn-secondary" name="button">Delete</button>
  </form>

  <% } %>

  <% game.comments.forEach((comment) => { %>
    <small><%= comment.createdBy.username %></small>
    <p><%= comment.content %></p>


    <% if(locals.isLoggedIn && comment.belongsTo(user)) { %>
      <form class="form-group" method="POST" action="/games/<%= game.id %>/comments/<%= comment.id %>">
      <input class="form-control" type="hidden" name="_method" value="DELETE">
      <button class="btn btn-secondary">Delete comment</button>
      </form>
      <% } %>
      <% }) %>


      <% if(locals.isLoggedIn) { %>
        <section>
        <h4>Leave a comment</h4>
        <form class="form-group" method="POST" action="/games/<%= game.id %>/comments">
        <textarea class="form-control" name="content" id="content" placeholder="Comment"></textarea>
        <button class="button">Leave a comment</button>
        </form>
        </section>
        <% } %>
